.graph {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    overflow: hidden;
}
.graph-fill {
    position: absolute;
    transform-origin: bottom;
    transform: scaleY(10%);
}