.graph {
    position: relative;
    border-left: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
}
.graph-fill {
    display: inline-flex;
    position: relative;
    transform-origin: bottom;    
    transition: .2s ease-in-out;
    border-top: 1px solid #cecece;
}
.graph-value {
    font-size: 2em;
}
.graph-labels {
    position: absolute;
    list-style-type: none;
    z-index: 99999;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow-y: hidden;
}
.graph-labels li {
    position: absolute;
    font-family: monospace;
    font-size: 1em;
    line-height: 1.5em;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    width: 100%;
}
.graph-labels li:first-child {
    margin-top: -20.5px;
    border-top: none;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.graph-labels li.currentValue {
    border-color: maroon;
    border-width: 2px;
    color: maroon;
    font-weight: bold;
    text-align: center;
}
.graph-title {
    z-index: 999999;
}
@media screen and (max-width: 1380px) {
    .graph-value {
        margin-bottom: 30px;
    }
    .graph-title {
        z-index: 999999;
        margin-top: 30px;
    }
}
