.grid-horizontal {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 5px;
}
.grid-horizontal section {
    overflow: hidden;
    background: rgb(220,220,220);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}
.d-block {
    display: block;
}
.section-title {
    font-size: 3em;
}
.section-value {
    font-size: 2em;
}
.t-center {
    text-align: center;
}